body {
        background-color: rgb(11, 11, 39);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
}
 

div {
    min-width: 400px;
    max-width: 1500px;
    margin: auto;
    border: 4px solid black;
    background-color: rgb(15, 8, 82);
}

a {color: white;}
a:hover {
    color: blue;
}
h2 {
    color: white;
}
h4 {
    text-align: right;
}