body {
    background-color:  rgb(11, 11, 39);
}
header {
    color: white;
    text-align: center;
}
a {
    color: white;

}

a:hover {
    color: blue;
}

div {
    min-width: 400px;
    max-width: 1500px;
    margin: auto;
    border: 4px solid black;
    background-color: rgb(15, 8, 82);
}
footer {
    color: white;
    text-align: center;
}
h4 {
    text-align: right;
}